In [13]:
import pandas as pd
df = pd.DataFrame(np.random.rand(25).reshape([5, 5]), index=['A', 'B', 'D', 'E', 'F'], columns=['c1', 'c2', 'c3', 'c4', 'c5'])

In [14]:
df

         c1        c2        c3        c4        c5
A  0.090872  0.492199  0.818970  0.734832  0.686209
B  0.807645  0.799727  0.402670  0.594758  0.431740
D  0.409403  0.694174  0.028975  0.351865  0.555364
E  0.576453  0.907626  0.786916  0.587574  0.418903
F  0.205398  0.405262  0.184396  0.101050  0.535791

In [15]:
a = df.drop('c1',axis=1,)

In [16]:
a

         c2        c3        c4        c5
A  0.492199  0.818970  0.734832  0.686209
B  0.799727  0.402670  0.594758  0.431740
D  0.694174  0.028975  0.351865  0.555364
E  0.907626  0.786916  0.587574  0.418903
F  0.405262  0.184396  0.101050  0.535791

In [17]:
df

         c1        c2        c3        c4        c5
A  0.090872  0.492199  0.818970  0.734832  0.686209
B  0.807645  0.799727  0.402670  0.594758  0.431740
D  0.409403  0.694174  0.028975  0.351865  0.555364
E  0.576453  0.907626  0.786916  0.587574  0.418903
F  0.205398  0.405262  0.184396  0.101050  0.535791